/* COMMON */

.mainpage-container {
    margin:auto;
    width: 1530px;
    height: 920px;
    display: flex;
    justify-content: space-between;
}

body {
    height: 100vh;
    color:#fff;
    display: flex;
}

/* TYPO */
body {
    font-family: 'Lato', sans-serif;   
}

/* BOTTONI */

/* IMMAGINI */

img {
    width: 50px;
    border-radius: 100%;
}



