/* COMMON */

.mainpage-container {
    margin:auto;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

body {
    height: 100vh;
    display: flex;
    color: red;
}

/* TYPO */
body {
    font-family: 'Lato', sans-serif;   
}

small {
    color: #b6b9bb;
}

/* BOTTONI */



/* IMMAGINI */

img {
    width: 50px;
    border-radius: 100%;
}

/* FA-SOLID */

.fa-solid {
    margin: 0 5px;
}



