/* COMMON */
body {
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #009688 20%, #dadbd4 20%);
}

.mainpage-container {
    margin:auto;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

/* TYPO */

body {
    font-family: 'Lato', sans-serif;
}

small {
    color: #b6b9bb;
}

/* IMMAGINI */

img {
    width: 3.125rem;
    border-radius: 100%;
}

/* FA-SOLID */

.fa-solid {
    margin: 0 0.3125rem;
}



