/* HEADER */

header {
    width: 100%;
    background-color: var(--secondary-color);
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active_contact_chat {
    width: 100%;
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
}

.active_contact_icons a {
    color: #b1b1b1;
}

.active_contact_info span{
    display: block;
}

.active_contact_info {
    flex-grow: 1;
}

/* MAIN */

main {
    overflow-y: auto;
    width: calc(100vw - 3.125rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_messages {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messages {
    width: 21rem;
    min-height: 5rem;
    border-radius: 0.625rem;
    padding: 1rem;
    position: relative;
    margin: 0.625rem;
}

.messages small {
    position: absolute;
    right: 0.625rem;
    bottom:0.125rem;
    font-size: 0.6rem;
}

.chat small {
    font-size: 1rem;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color: #fff;
}

.chat {
    overflow-y: auto;
    flex-grow: 1;
    background-image: url(/img/mine.jpg);
}

.btn {
    position: absolute;
    right: 0;
}

.down {
    background-color: transparent;
    border:none;
    position: absolute;
    right: -0.625rem;
    top: -0.9375rem;
}

#mouse_over {
    opacity: 0;
}

#mouse_over:hover {
    opacity: 1;
}

/* FOOTER */
.chat_form {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.6875rem;
    padding: 0.625rem 0;
}

.chat_form input {
    border: none;
    height: 3.125rem;
    width: 100%;
    border-radius: 0.3125rem;
}

.chat_form form {
    flex-grow: 1;
}

.chat_icons {
    text-align: center;
}

.chat_icons a {
    color:#6b7376;
}

/* HOVER */
.active_contact_icons a:hover {
    color: #4e4e4e;
}

.chat_icons a:hover {
    color: #4e4e4e;
}
